.idea
.gradle

settings.gradle
gradlew.bat
output.json
testFile.json
emptyTestFile.json
gradlew
.gitignore

build/
gradle/
garbage/
/src/main/java/com/softserveacademy/objectgenerator/
out/

Schedule.iml
